.fondo_azul {
    background-color: #4F7808
}

.pnova {
    font-family: 'ProximaNova'
}

.pnovab {
    font-family: 'ProximaNova-Bold'
}

p.bold,
.bold {
    font-weight: 900
}

@font-face {
    font-family: 'ProximaNova';
    src: url("../fonts/ProximaNovaRegular.eot");
    src: url("../fonts/ProximaNovaRegular.woff") format("woff"), url("../fonts/ProximaNovaRegular.ttf") format("truetype"), url("../fonts/ProximaNovaRegular.svg") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url("../fonts/FontsFree-Net-Proxima-Nova-Bold.eot");
    src: url("../fonts/FontsFree-Net-Proxima-Nova-Bold.woff") format("woff"), url("../fonts/FontsFree-Net-Proxima-Nova-Bold.ttf") format("truetype"), url("../fonts/FontsFree-Net-Proxima-Nova-Bold.svg") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Regular.eot");
    src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.otf") format("opentype"), url("../fonts/Montserrat-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url("../fonts/Montserrat-Bold.eot");
    src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.otf") format("opentype"), url("../fonts/Montserrat-Bold.svg") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Sacramento-Regular';
    src: url("../fonts/Sacramento-Regular.eot");
    src: url("../fonts/Sacramento-Regular.woff") format("woff"), url("../fonts/Sacramento-Regular.ttf") format("truetype"), url("../fonts/Sacramento-Regular.otf") format("opentype"), url("../fonts/Sacramento-Regular.svg") format("svg");
    font-weight: normal;
    font-style: normal
}

body {
    font-family: 'Source Sans Pro';
    font-weight: 300;
    font-size: 14px;
    padding: 0;
    margin: 0;
    position: relative
}

.container {
    width: 80%
}

.div_button {
    margin: 30px 0
}

.buttons {
    font-family: 'ProximaNova';
    text-transform: uppercase;
    font-size: 1.2em;
    padding: 6px 50px;
    margin: 20px 0
}

.buttons_minis {
    font-family: 'ProximaNova';
    text-transform: uppercase;
    font-size: 1.2em;
    padding: 6px 30px;
    margin: 20px 0
}

.button_black {
    color: #000;
    border: 2px solid #000
}

.button_white {
    color: #fff;
    border: 2px solid #fff
}

.button_blue {
    color: #fff;
    font-family: 'ProximaNova';
    text-transform: uppercase;
    font-size: 0.7em;
    padding: 6px 30px;
    margin: 20px 0;
    background-color: #4F7808
}

h2 {
    font-family: 'ProximaNova';
    font-size: 28px;
    font-weight: 600
}

h3 {
    font-family: 'ProximaNova';
    font-size: 22px;
    font-weight: 600;
    margin: 14px 0
}

h4 {
    font-family: 'ProximaNova';
    font-size: 28px;
    font-weight: 600;
    margin: 40px 20px;
    color: #fff;
    line-height: normal
}

h5 {
    font-family: 'ProximaNova-Bold';
    font-size: 1.1em
}

p.psize20 {
    font-family: 'Source Sans Pro';
    font-size: 18px;
    font-weight: 300
}

.material-icons.azul {
    color: #4F7808
}

#socios {
    background-color: #202020;
    color: #fff
}

#socios .row {
    margin-bottom: 0
}

#socios img {
    width: 70%
}

.slider_socios {
    margin: 30px 0
}

.circle {
    border: 2px solid #fff
}

.paginador {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    text-align: center
}

.paginador a.jp-current,
a.jp-current:hover {
    background: #848484;
    color: #fff;
    font-weight: bold
}

.paginador a,
.paginador span {
    font-size: 14px;
    cursor: pointer;
    margin: 0 5px;
    color: #000;
    padding: 3px 8px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-weight: bold
}

.paginador a:hover {
    background-color: #000;
    color: #FFF;
    opacity: 0.5
}

.paginador a.jp-previous {
    margin-right: 15px;
    border: 1px solid #fff;
    padding: 6px 29px
}

.paginador a.jp-next {
    margin-left: 15px;
    border: 1px solid #fff;
    padding: 3px 8px
}

.paginador a.jp-current,
a.jp-current:hover {
    color: #fff;
    background: #000 !important
}

.paginador a.jp-disabled,
a.jp-disabled:hover {
    color: rgba(255, 255, 255, 0.74);
    display: none
}

.paginador a.jp-current,
a.jp-current:hover,
.paginador a.jp-disabled,
a.jp-disabled:hover {
    cursor: default;
    background: none
}

.paginador span {
    margin: 0 5px
}

a.jp-first,
a.jp-last {
    display: none
}

@media (min-width: 320px) and (max-width: 767px) {
    .container {
        width: calc(100% - 30px)
    }

    .buttons {
        font-size: 1.1em;
        padding: 6px 30px;
        margin: 15px 0
    }
}

header {
    padding: 0 25px;
    font-family: 'ProximaNova';
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 10
}

@media (max-width: 992px) {
    header {
        padding: 0 15px
    }
}

header.solid {
    background-color: #000
}

header .content-nav {
    height: 100%;
    position: relative
}

header .content-nav nav {
    height: 100%
}

nav .brand-logo {
    position: relative
}

nav .brand-logo.mobile,
nav .brand-logo.tablet {
    display: none
}

@media (max-width: 450px) {
    nav .brand-logo.desk {
        display: none
    }

    nav .brand-logo.mobile {
        display: block
    }
}

nav .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center
}

nav ul a:hover {
    color: #fff;
    background-color: #343434
}

.sidenav-trigger {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%)
}

nav,
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 20px;
    line-height: 16px
}

nav ul li>ul,
nav .nav-wrapper i ul li>ul,
nav a.sidenav-trigger ul li>ul,
nav a.sidenav-trigger i ul li>ul {
    padding: 0
}

nav ul a,
nav .nav-wrapper i ul a,
nav a.sidenav-trigger ul a,
nav a.sidenav-trigger i ul a {
    padding: 8px
}

nav a.dropdown-trigger {
    outline: none
}

nav a.dropdown-trigger:active,
nav a.dropdown-trigger:visited,
nav a.dropdown-trigger:focus {
    outline: none
}

.modal {
    width: 30%
}

.sidenav-overlay {
    z-index: 0
}

i.right {
    margin-left: 0
}

.dropdown-content {
    background-color: #343434;
    width: 250px !important;
    height: auto !important;
    top: 56px !important
}

.dropdown-content li:hover {
    background-color: transparent
}

.dropdown-content li>a {
    color: #fff
}

.dropdown-content li>a:hover {
    background-color: #4c4c4c
}

.divider {
    background-color: #fff
}

.button_menu {
    margin-left: 20px;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    padding: 8px 20px
}

.sidenav {
    width: 100%;
    background-color: #000
}

.sidenav li>a {
    color: #fff;
    font-size: 1.4em;
    outline: 0
}

.sidenav li>a>i.material-icons {
    color: #fff
}

.desplegable {
    background-color: #343434;
    display: none
}

.desplegable ul>li {
    padding: 8px
}

.desplegable ul>li>a {
    font-size: 1.2em;
    line-height: 25px
}

.menu-close {
    height: 45px;
    padding-top: 20px;
    padding-right: 20px
}

.menu-close a>i {
    color: #fff
}

#header {
    position: relative
}

@media (max-width: 450px) {
    .logo_think a img {
        height: 45px
    }
}

@media (max-width: 350px) {
    .logo_think a img {
        height: 40px
    }
}

.home {
    height: 100vh;
    background-color: rgb(79 120 8 / 60%);
    position: relative;
    z-index: 1
}

.content-slider-home {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.content-slider-home .home-slider {
    height: 100%
}

.content-slider-home .home-slider .slick-list {
    height: 100%
}

.content-slider-home .home-slider .slick-list .slick-track {
    height: 100%
}

.content-slider-home .home-slider .slick-list .slick-track img {
    object-fit: cover;
    object-position: center center
}

.presentacion {
    color: #fff;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.titulo_intro {
    font-family: 'Montserrat-Bold';
    font-size: 7.3em;
    font-weight: 900;
    line-height: normal
}

.intro {
    font-family: 'Source Sans Pro';
    font-size: 1.6em;
    line-height: 32px
}

.separador {
    padding-top: 30px
}

.modulos_slider {
    margin: 80px 0
}

.modulos_slider .slider_pr {
    color: #fff
}

.modulos_slider .slider_pr .slick-slide img {
    width: 100%
}

.modulos_slider .slider_pr .info_slider {
    position: absolute;
    bottom: 20px;
    width: 80%;
    left: 10%;
    line-height: normal
}

.modulos_slider .slider_pr .info_slider .titulo_slider {
    font-family: 'ProximaNova';
    font-size: 28px;
    font-weight: 600
}

.modulos_slider .slider_pr .info_slider .resumen_slider {
    font-size: 18px
}

.publicaciones_home {
    background-color: #ededed
}

.publicaciones_home .modulo_descripcion {
    margin-top: 20%
}

.publicaciones_home .modulo_descripcion p {
    font-size: 18px
}

.publicaciones_home .mas_publicaciones {
    margin-top: 20%;
    text-align: left
}

.link_pub {
    font-family: 'ProximaNova-Bold';
    color: #4F7808;
    text-transform: uppercase;
    text-decoration: none
}

.slick-slider ul {
    text-align: center;
    margin: 0;
    padding: 15px 0
}

.slick-slider ul li {
    list-style: none;
    display: inline;
    padding: 9px
}

.slick-slider ul li button {
    font-size: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    border-radius: 12px;
    border: 2px solid #b3b3b3;
    background-color: #b3b3b3
}

.slick-slider ul li button:focus {
    outline: 0px
}

.slick-slider ul li.slick-active button {
    width: 22px;
    height: 22px;
    border: 2px solid #4F7808;
    background-color: #4F7808
}

#evento {
    padding: 10px
}

.info_evento {
    background-color: #ededed;
    padding-bottom: 10px
}

.info_evento img {
    width: 100%
}

.titulo_evento {
    font-family: 'ProximaNova';
    font-weight: 900;
    font-size: 2em
}

.detalle_evento {
    font-family: 'Source Sans Pro';
    font-size: 1em
}

@media (min-width: 768px) and (max-width: 1024px) {
    .titulo_intro {
        font-size: 5em
    }

    .intro {
        font-size: 2em;
        line-height: normal
    }

    #evento {
        padding: 20px
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .titulo_intro {
        font-size: 4em
    }

    .intro {
        font-size: 1.5em;
        line-height: normal
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .modulos_slider {
        margin: 80px 0
    }

    .modulos_slider .slider_pr .info_slider {
        bottom: 0;
        width: 90%;
        left: 5%
    }

    .titulo_intro {
        font-size: 3em
    }

    .intro {
        font-size: 1.3em;
        line-height: normal
    }
}

@media (min-width: 320px) and (max-width: 992px) {
    .publicaciones_home .modulo_descripcion {
        margin-top: 5%
    }

    .publicaciones_home .mas_publicaciones {
        margin-top: 10%;
        text-align: right
    }
}

.section-mastercard {
    text-align: center;
    margin: 50px 0
}

.section-mastercard img {
    margin: 0 auto;
    max-width: 300px;
    max-height: 200px
}

@media (min-width: 993px) {
    .section-mastercard img {
        width: 330px;
        max-width: 330px;
        max-height: 300px
    }
}

.section-mastercard p {
    font-size: 18px;
    margin: 0 auto 20px
}

@media (max-width: 993px) {
    .section-mastercard p {
        font-size: 16px
    }
}

.section-mastercard p a {
    text-decoration: underline
}

.section-pages {
    padding: 0 40px
}

@media (max-width: 992px) {
    .section-pages {
        padding: 0 15px
    }
}

.section-pages p {
    font-family: 'Source Sans Pro';
    font-size: 18px;
    font-weight: 300
}

@media (max-width: 992px) {
    .section-pages p {
        font-size: 16px
    }
}

.section-pages p strong {
    font-weight: bold
}

.section-pages img {
    width: 100%;
    max-width: 800px;
    margin: 30px auto;
    display: block
}

.section-pages img.img-left {
    margin: 30px 0
}

.section-pages .list-page {
    display: block
}

.section-pages .list-page li {
    list-style: circle;
    font-size: 18px;
    list-style-position: inside
}

@media (max-width: 992px) {
    .section-pages .list-page li {
        font-size: 16px
    }
}

.item_tabs {
    height: 60px;
    margin-top: 20px;
    margin-bottom: 30px
}

.item_tabs>li {
    padding: 2px;
    margin-bottom: 12px
}

.item_tabs>li>a {
    border: 2px solid #4F7808;
    padding: 2px;
    color: #4F7808;
    text-decoration: none;
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 18px;
    line-height: 14px;
    align-items: center;
    justify-content: center;
    text-align: center
}

@media (max-width: 992px) {
    .item_tabs>li>a {
        font-size: 16px
    }
}

.item_tabs>li>a.active {
    background-color: #4F7808;
    color: #fff
}

@media (min-width: 320px) and (max-width: 480px) {
    .section-pages {
        padding: 0px
    }
}

.img-float {
    width: 50%;
    float: right;
    margin-left: 15px
}

.img-float.left {
    float: left;
    margin-left: 0px;
    margin-right: 15px
}

@media (max-width: 992px) {
    .img-float.left {
        margin-right: 0px
    }
}

@media (max-width: 992px) {
    .img-float {
        width: 100%;
        clear: both;
        margin-bottom: 20px;
        margin-left: 0px
    }
}

#key p {
    min-height: 54px
}

@media (max-width: 992px) {
    #key p {
        min-height: auto
    }
}

#key .list-page {
    min-height: 162px
}

@media (max-width: 1178px) {
    #key .list-page {
        min-height: 216px
    }
}

@media (max-width: 992px) {
    #key .list-page {
        min-height: auto
    }
}

.equipo-item-photo {
    margin: 0 0 30px
}

.equipo-item-photo img {
    width: 100%
}

.equipo-item-photo .nombre {
    font-family: 'ProximaNova';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    margin: 10px 0
}

.equipo-item-photo .puesto {
    font-size: 16px;
    line-height: 1.2;
    margin: 0
}

.content-team {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap
}

.content-team .equipo-item {
    width: 25%;
    padding: 0 5px;
    margin: 0 0 40px;
    text-align: center
}

@media (max-width: 992px) {
    .content-team .equipo-item {
        width: 33.33%
    }
}

@media (max-width: 600px) {
    .content-team .equipo-item {
        width: 50%
    }
}

.content-team .equipo-item .nombre {
    font-family: 'ProximaNova';
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    margin: 10px 0;
    min-height: 46px
}

@media (max-width: 992px) {
    .content-team .equipo-item .nombre {
        font-size: 16px;
        min-height: 40px
    }
}

.content-team .equipo-item .info p {
    min-height: 38px
}

.content-team .equipo-item .info a,
.content-team .equipo-item .info p {
    font-size: 16px;
    line-height: 1.2;
    margin: 0 0 10px
}

@media (max-width: 992px) {

    .content-team .equipo-item .info a,
    .content-team .equipo-item .info p {
        font-size: 14px
    }
}

.content-team .equipo-item .info a {
    color: rgba(0, 0, 0, 0.87)
}

.tabs_partnerships {
    margin: 0
}

@media (max-width: 992px) {
    .tabs_partnerships {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-bottom: 50px
    }
}

.tabs_partnerships .tab {
    margin-bottom: 15px;
    width: 100%
}

@media (max-width: 992px) {
    .tabs_partnerships .tab {
        width: calc(50% - 10px)
    }
}

.tabs_partnerships .tab a {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 1.2;
    padding: 15px 5px;
    width: 100%;
    color: #fff
}

@media (max-width: 992px) {
    .tabs_partnerships .tab a {
        font-size: 16px
    }
}

@media (max-width: 450px) {
    .tabs_partnerships .tab a {
        height: 68px
    }
}

.tabs_partnerships .tab:nth-child(1) a {
    background-color: rgba(235, 181, 90, 0.5)
}

.tabs_partnerships .tab:nth-child(1) a.active,
.tabs_partnerships .tab:nth-child(1) a:hover {
    background-color: #ebb55a
}

.tabs_partnerships .tab:nth-child(2) a {
    background-color: rgba(99, 123, 127, 0.5)
}

.tabs_partnerships .tab:nth-child(2) a.active,
.tabs_partnerships .tab:nth-child(2) a:hover {
    background-color: #637b7f
}

.tabs_partnerships .tab:nth-child(3) a {
    background-color: rgba(216, 78, 46, 0.5)
}

.tabs_partnerships .tab:nth-child(3) a.active,
.tabs_partnerships .tab:nth-child(3) a:hover {
    background-color: #d84e2e
}

.tabs_partnerships .tab:nth-child(4) a {
    background-color: rgba(153, 153, 153, 0.5)
}

.tabs_partnerships .tab:nth-child(4) a.active,
.tabs_partnerships .tab:nth-child(4) a:hover {
    background-color: #999999
}

.tabs_partnerships .tab:nth-child(5) a {
    background-color: rgba(56, 118, 29, 0.5)
}

.tabs_partnerships .tab:nth-child(5) a.active,
.tabs_partnerships .tab:nth-child(5) a:hover {
    background-color: #38761d
}

.strategic .logos-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap
}

.strategic .logos-content div {
    width: 100%;
    margin: 70px auto;
    text-align: center
}

@media (max-width: 993px) {
    .strategic .logos-content div {
        width: 50px auto 0px
    }
}

.strategic .logos-content div img {
    margin: 0 auto;
    max-width: 300px;
    max-height: 200px
}

@media (min-width: 993px) {
    .strategic .logos-content div img {
        width: 330px;
        max-width: 330px;
        max-height: 300px
    }
}

.strategic .logos-content div p {
    font-size: 18px;
    margin: 0 auto 20px
}

@media (max-width: 993px) {
    .strategic .logos-content div p {
        font-size: 16px
    }
}

.strategic .logos-content div p a {
    text-decoration: underline
}

.strategic .logos-content img {
    display: block;
    margin: 0 30px 30px;
    max-width: 200px;
    max-height: 150px
}

.section-eventos .section_title {
    margin-bottom: 50px
}

.section-eventos .evento {
    background-color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 50px 0
}

@media (max-width: 992px) {
    .section-eventos .evento {
        flex-direction: column;
        padding: 0
    }
}

.section-eventos .evento .info-evento {
    width: 50%;
    padding: 0px 20px
}

@media (max-width: 992px) {
    .section-eventos .evento .info-evento {
        width: 100%;
        padding: 15px 20px
    }
}

.section-eventos .evento .info-evento h4 {
    margin: 0;
    font-family: 'ProximaNova';
    font-size: 24px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.87)
}

.section-eventos .evento .info-evento div {
    margin: 20px 0 30px
}

.section-eventos .evento .info-evento div p {
    line-height: 1.3;
    margin: 0 0 10px
}

.section-eventos .evento .info-evento div p strong {
    font-weight: bold
}

.section-eventos .evento .info-evento a {
    font-family: 'ProximaNova-Bold';
    color: #4F7808;
    text-transform: uppercase;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 150px
}

@media (max-width: 992px) {
    .section-eventos .evento .info-evento a {
        margin-left: auto
    }
}


.section-eventos .evento .info-evento a img {
    display: inline-block;
    width: 37px;
    margin: 0;
    margin-left: 10px
}

.section-eventos .evento .image-evento {
    width: 50%;
    padding-right: 50px
}

@media (max-width: 992px) {
    .section-eventos .evento .image-evento {
        width: 100%;
        padding-right: 0px
    }
    .section-eventos .evento .image-evento img:nth-child(2) {
        display:none;
    }

}

.section-eventos .evento .image-evento img {
    width: 100%;
    margin: 60px 0 0 0;
}


@media (min-width: 320px) and (max-width: 992px) {
    .publicaciones_home .modulo_descripcion {
    margin-top: 5%}
.publicaciones_home .mas_publicaciones {
    margin-top: 10%;
    text-align: right;
}
}.publicacion_index {
    position: relative;
}
.publicacion_index img {
    width: 100%}
.publicacion_index .info_pub_index {
    position: absolute;
    bottom: 0;
    width: 100%}
.buttons_medios {
    font-family: 'ProximaNova';
    text-transform: uppercase;
    font-size: 1em;
    padding: 5px 50px;
    margin: 20px 0;
}

footer.page-footer {
    background-color: #000;
    color: #fff;
    font-family: 'ProximaNova'
}

footer.page-footer .footer-copyright {
    background-color: #343434;
    padding: 0%
}

footer.page-footer .footer-copyright .row {
    margin-bottom: 4px;
    margin-top: 4px
}

footer.page-footer a {
    color: #fff;
    text-decoration: none
}

footer.page-footer .logo {
    width: 100%;
    max-width: 310px
}

footer.page-footer ul {
    display: flex;
    margin-right: 54px
}

footer.page-footer ul li {
    padding: 0 10px
}

footer.page-footer #formulario .container {
    padding-top: 15px;
    background-color: #fff !important;
    color: #000
}

footer.page-footer #formulario a {
    color: #4F7808
}

footer.page-footer #formulario .aviso_form {
    padding-bottom: 30px
}

footer p {
    font-family: 'Source Sans Pro';
    font-size: 1em;
    line-height: 16px;
    margin: 6px 0
}

footer p img {
    margin-right: 5px
}